.App {
  background-color: #eeeeee;
  padding-bottom: 30px;
}

.App-header {
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.App-body {
  min-height: 300px;
  max-width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid #dce0e0;
  border-radius: 5px;
  box-shadow: 0 1px 3px #0000001a, 0 3px 8px #00000033;
}

.center {
  text-align: center;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: block;
  background-color: white;
}

.inputDiv {
  padding: 20px;
}

.input-box {
  width: 100px;
  height: 30px;
  padding-left: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

table, tr, th {
  width: 40px;
  border: 1px solid black;
}
